html {
  background: white;
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  text-transform: lowercase;
  font-family: 'Montserrat', sans-serif;
  width: 40em;
}

ul {
  list-style: none;
  padding-inline-start: 0px;
}

.nav-section ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1.5em;
}

.nav-section li {
  margin: 10px;
}

.nav-section li:hover {
  /* color: rgb(0,255,54); */
  color: #ff6a00;
}

.nav-section a {
  text-decoration: none;
  cursor:url("http://www.rw-designer.com/cursor-extern.php?id=129402"), pointer;
  color: inherit;
}


#about-link {
  color: grey;
}

#home-nav-link {
  text-align: left;
}

/* I found how to create the 'strikethrough' decoration on my page header on this StackOverflow page:
https://stackoverflow.com/questions/2539207/how-to-change-the-strike-out-line-through-thickness-in-css */

.about-header {
  position: relative;
  display: flex;
  justify-content: flex-start;
}
.about-header::after {
  border-bottom: 0.3em solid rgb(0,255,54,0.6);
  content: "";
  left: 0;
  line-height: 1em;
  margin-top: calc(0.125em / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
}

.about-header h1 {
  padding-left: 50px;
}

.about-image-section {
  display: flex;
  justify-content: center;
}

#about-photo {
  max-width: 20em;
  max-height: 100%;
  margin: 20px;
}

.about-text-section {
  display: flex;
  justify-content: center;
  text-align: justify;
  align-items: left;
  margin-left: 50px;
  margin-right: 45px;
  margin-bottom: 30px;
}

footer {
  display: flex;
  justify-content: center;
  opacity: 0.7;
}

footer p {
  font-size: .7em;
}

footer a {
  width: 2em;
  height: 2em;
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 5px;
  margin-bottom: 30px;
}

footer a img {
  max-width: 100%;
  max-height: 100%;
  padding-right: 3px;
  padding-left: 3px;
  margin-top: 5px;
  margin-bottom: 30px;
  cursor:url("http://www.rw-designer.com/cursor-extern.php?id=129402"), auto;
}